@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 60 100% 70%;
    --primary-foreground: 26 83.3% 14.1%;
    --secondary: 235 33% 53%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 61 100% 50%;
    --primary-foreground: 26 83.3% 14.1%;
    --secondary: 235 33% 53%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 35.5 91.7% 32.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .text-gradient {
    @apply bg-gradient-to-b from-secondary to-secondary-foreground bg-clip-text text-transparent dark:from-primary dark:to-primary-foreground;
  }
}

.dotted-background {
  background-image: radial-gradient(
    circle,
    var(--tw-gradient-stops) var(--dots-size),
    var(--tw-gradient-stops) var(--dots-size),
    transparent var(--dots-size),
    transparent 100%
  );

  background-size: var(--dots-separation);
  mask-image: var(--mask-image);
}

/* Shimmer Animation */

@keyframes shimmerAnimation {
  0% {
    background-position: 200%;
  }

  25%,
  100% {
    background-position: -200%;
  }
}

.shimmer {
  background-image: linear-gradient(
    -30deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  background-repeat: no-repeat;
  background-size: 200% 100%;
  animation-name: shimmerAnimation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/* DiscordImg Animations */

.discordBounce {
  animation: discordBounceAnimation 4s infinite ease-in-out;
}
@keyframes discordBounceAnimation {
  0%,
  100% {
    transform: translateY(-2%);
  }
  50% {
    transform: translateY(2%);
  }
}

/* Pink Spark */
.pinkSpark {
  filter: drop-shadow(0 0 10px rgba(253, 210, 248, 1));
  animation: pinkSparkAnimation 2s infinite;
}

@keyframes pinkSparkAnimation {
  0%,
  100% {
    filter: drop-shadow(0 0 10px rgba(253, 210, 248, 1));
  }
  50% {
    filter: drop-shadow(0 0 5px rgba(253, 210, 248, 0.7));
  }
}

/* Green Spark */
.greenSpark {
  filter: drop-shadow(0 0 10px rgba(41, 204, 122, 1));
  animation: greenSparkAnimation 2s infinite;
}

@keyframes greenSparkAnimation {
  0%,
  100% {
    filter: drop-shadow(0 0 10px rgba(41, 204, 122, 1));
  }
  50% {
    filter: drop-shadow(0 0 5px rgba(41, 204, 122, 0.7));
  }
}

/* Purple Spark */
.purpleSpark {
  filter: drop-shadow(0 0 10px rgba(255, 120, 185, 1));
  animation: purpleSparkAnimation 3s infinite;
}

@keyframes purpleSparkAnimation {
  0%,
  100% {
    filter: drop-shadow(0 0 10px rgba(255, 120, 185, 1));
  }
  50% {
    filter: drop-shadow(0 0 5px rgba(255, 120, 185, 0.7));
  }
}

/* Yellow Spark */
.yellowSpark {
  filter: drop-shadow(0 0 10px rgba(255, 231, 92, 1));
  animation: yellowSparkAnimation 3s infinite;
}

@keyframes yellowSparkAnimation {
  0%,
  100% {
    filter: drop-shadow(0 0 10px rgba(255, 231, 92, 1));
  }
  50% {
    filter: drop-shadow(0 0 5px rgba(255, 231, 92, 0.7));
  }
}

/* Green Spark 2 */
.greenSpark2 {
  filter: drop-shadow(0 0 10px rgba(106, 219, 198, 1));
  animation: greenSpark2Animation 3s infinite;
}

@keyframes greenSpark2Animation {
  0%,
  100% {
    filter: drop-shadow(0 0 10px rgba(106, 219, 198, 1));
  }
  50% {
    filter: drop-shadow(0 0 5px rgba(106, 219, 198, 0.7));
  }
}

/* spReviewImg Animations */

.spName {
  opacity: 0;
  animation: fadeIn 1s forwards;
}

.spTitle {
  opacity: 0;
  animation: fadeIn 1s 0.5s forwards;
}

.spItem1 {
  opacity: 0;
  animation: fadeIn 1s 1s forwards;
}

.spItem2 {
  opacity: 0;
  animation: fadeIn 1s 1.5s forwards;
}

.spItem3 {
  opacity: 0;
  animation: fadeIn 1s 2s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
